<br>
<br>


<h2 id="search_title">Filter Through Collection<h2>

<h2>
<ul>
<div class="checkboxes">
<%= form_tag results_path do %>
    <br>
    <p><%= label_tag "Select Genus" %></p>
    <br>
    <br>
    <% genusi.each do |genus| %>
        <%= check_box_tag "genus[]", genus %><%= genus.capitalize %>
    <% end %>
    <br>
    <br>
    
    <br>
    <p><%= label_tag "Select Flavors" %></p>
    <br>
    <br>
    <% flavors.each do |flavor| %>
        <%= check_box_tag "flavors[]", flavor %><%= flavor %>
    <% end %>
    <br>
 
    <br>
    <br>
    <p><%= label_tag "Select Positive/Medicinal Effects" %></p>
    <br>
    <br>
    <% effects.each do |effect| %>
        <%= check_box_tag "effects[]", effect %><%= effect %>
    <% end %>
    <br>
    <br>
    <br>
    <%= submit_tag "Search Collections" %>
    
<% end %>
</div>
</h2>
</ul>