<h2><%= link_to @user.username, @user %>
<br>
<br>
<br>
<h6>
<%= button_to "Add New Note", new_note_path(collection_id: @collection), method: :get %>
<%= button_to "Edit Collection", edit_collection_path(@collection), method: :get %>
<%= button_to "Delete Collection", @collection, method: :delete, data: { confirm: "Delete Collection?" } %>
</h6>
<br>
<%= render partial: '/strains/profile', locals:  {strain: @strain, effects: @strain.effects.split("||")}%>


<% if !@collection.notes.empty? %>
    <%= render partial: 'notes/notes', locals: {collection: @collection} %>
<% end %>


