<style>
/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
</style>


<h1>Strain Profile</h1>
<br>
<br>
<h2><%= strain.name %></h2>
<br>
<h2> 
    <ul>
        
            
            <br>
            <br>
            Type: <%= strain.genus.capitalize %>
            <br>
            <br>
            <%= strain.description %>
            <br>
            <br>
            Effects: 
            <br>
            <%= effects[0] %>
            <br>
            <%= effects[1] %>
            <br>
            <%= effects[2] %>
            <br>
            <br>
            <br>
            Flavors: 
            <br><%= strain.flavors %>
            <br>
            <br>
            <br>
            <br>







            <h2>Chemical Profile:</h2>
          
                 <div class="dropdown">
  <button class="dropbtn">Terpenes and Cannabinoids</button>
  <div class="dropdown-content">
    <% strain.lab_results[0].terps.sort.each do |terp, val| %>
                    <a href=<%="#{strain_path(strain)}" %>><%= "#{terp.capitalize}: #{val}" %></a>
                    <br>
                    <% end %>  
  </div>
</div>
                <br>
    </ul>
</h2>