<h1>Welcome to the Strain Index</h1> 
<br>
<br>
<br>
Search Database:
<%= form_tag(search_page_path, :method => "get") do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Strain Name", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "Submit", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
    </div>  
  </div>  
<% end %>
<br>
<h1>All Strains In Database</h1>
<br>
<br>
<ul>
    <% @strains.each do |strain| %>
        <li>
            <%= link_to strain.name, strain %>
            <%= strain.id %>
        </li>
    <% end %>
</ul>