<style>
/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
</style>

<style>
  .jumbotron{
      background-image: url("https://images.unsplash.com/photo-1549494093-a565e02bcfaa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1190&q=80");
      background-size: cover;
      background-position: center center;
      min-height: 400px;
      padding: 5em inherit;
      left:8px;
      color:#fff;
  }
</style>

<div class="jumbotron">
  <div class="container">
  
    <h1 class="display-4">Strain Profile</h1>
    <p class="lead">"Any fool can know. The point is to understand.”
― Albert Einstein"</p>
  </div>
</div>

<%= render partial: 'profile', locals: {strain: @strain, effects: @strain.effects.split("||")} %>
<br>
<br>
<ul>
 <%= button_to "#{@strain.likes} Likes", add_like_path(@strain), method: :get %>
    <br>
<% if logged_in? %>
<%= button_to "Add To Collections", add_to_collections_path(strain_id: @strain), method: :post %>
<br>
<br>

              
    <%= form_for :comment, url: add_comment_path do |f| %>
      <h3><%= f.label "Add Comment" %></h3>
      <br>
      <%= f.text_area :comment, size: "60x6"%>
      <%= f.hidden_field :user_id, value: @user.id %> 
      <%= f.hidden_field :strain_id, value: @strain.id %> 
  
      <%= f.submit %>
    <% end %>  
    <br>
<br>
      <h2>Comments</h2><br>
    <br>
    <% if @comments.count > 0 %>
              <% @comments.each do |comment| %>
                  <h4><%= comment.user.username %>
                  <p id="comments"><br> - <%= comment.comment %><h4></p>
                  <br>
                  <br>
              <% end %>
    <% end %>  
           
            </ul>
</ul>
<ul>



    

<% end %> 
</ul>

<br>
<br>

