<!DOCTYPE html>
<html>
  <head>
    <title>Paka-Lolo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
      <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.css">


    <h4><%= link_to "Search Index", strains_path %></h4>

    <% if !logged_in? %>
      <h4><%= link_to "Login", login_path %> / <%= link_to "Signup", signup_path %></h4>
    <% else %>
      <h4><%= link_to "Collection Homepage", homepage_path %>
      <%= button_to "Logout", logout_path, method: :post, data: { confirm: "logout?" } %></h4>
    <% end %>

    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
